.DS_Store
.idea/
.vscode/
.pytest_cache/
__pycache__/
.venv/

apps/mobile_flutter/.dart_tool/
apps/mobile_flutter/build/
apps/mobile_flutter/.flutter-plugins
apps/mobile_flutter/.flutter-plugins-dependencies

apps/api_fastapi/data/media/
